html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.spinner {

    width: 40px;
    height: 40px;
    border: 4px solid #eee;
    border-top: 4px solid #3b82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;

}

@keyframes spin {

    100% {
        transform: rotate(360deg);
    }

}