body {
    font-family: 'Space Grotesk', sans-serif;
    -webkit-tap-highlight-color: transparent;
    min-height: max(884px, 100dvh);
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}