html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
    font-size: 24px;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.ticker-scroll {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.ticker-scroll:hover {
    animation-play-state: paused;
}